* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* ROOT */
:root {
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
}

body {
    background: var(--grey);
}

/* SIDEBAR */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    background: var(--blue);
    z-index: 2000;
    transition: .3s ease;
    overflow-x: hidden;
}

#sidebar.hide {
    width: 60px;
}

#sidebar .brand {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0 20px;
}

#sidebar .brand i {
    margin-right: 10px;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 30px;
}

#sidebar .side-menu li {
    height: 48px;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

#sidebar .side-menu li.active {
    background: var(--grey);
    position: relative;
}

#sidebar .side-menu li.active a {
    color: var(--blue);
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: #fff;
    padding-left: 20px;
    gap: 10px;
}

#sidebar.hide .side-menu li a span {
    display: none;
}

/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: .3s ease;
}

#sidebar.hide ~ #content {
    width: calc(100% - 60px);
    left: 60px;
}

/* NAVBAR */
#content nav {
    height: 56px;
    background: #fff;
    padding: 0 24px;
    display: flex;
    align-items: center;   /* biar sejajar */
    gap: 24px;
}

nav i {
    cursor: pointer;
}

nav .nav-link {
    font-size: 16px;
    color: var(--dark);
}

/* MAIN */
main {
    width: 100%;
    padding: 36px 24px;
}

main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

main .head-title h1 {
    font-size: 36px;
    font-weight: 700;
    color: var(--dark);
}

/* BOX INFO */
.box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 24px;
    margin-bottom: 24px;
}

.box-info li {
    padding: 24px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.box-info li i {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-info li:nth-child(1) i {
    background: var(--light-blue);
    color: var(--blue);
}
.box-info li:nth-child(2) i {
    background: var(--light-yellow);
    color: var(--yellow);
}
.box-info li:nth-child(3) i {
    background: var(--light-orange);
    color: var(--orange);
}

.box-info li .text h3 {
    font-size: 24px;
    font-weight: 600;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
    #sidebar {
        width: 200px;
    }
    #content {
        width: calc(100% - 200px);
        left: 200px;
    }
}

@media screen and (max-width: 576px) {
    nav form {
        display: none;
    }
}
@media print {

    #sidebar,
    #content nav {
        display: none !important;
    }

    #content {
        width: 100% !important;
        left: 0 !important;
    }

    main {
        padding: 0 !important;
    }

    body {
        background: #fff !important;
    }

}

#sidebar.hide .brand {
    justify-content: center;
    padding: 0;
}

#sidebar.hide .brand span {
    display: none;
}

#sidebar.hide .side-menu li a {
    justify-content: center;
    padding-left: 0;
}

#sidebar.hide .side-menu li {
    margin-left: 0;
}